body, html {

    background-image: url("../img/mountain-test.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.black-text {
    color: rgb(10, 10, 10);
    font-weight:400;
}
